@import "tailwindcss";

@theme {
  /* custom purple colour*/
  --color-accent-purple: #5b67f1;
  
  /* Adding a perspective variable for the 3D card effect */
  --perspective-1000: 1000px;
}

body {
  @apply antialiased font-sans;
}

/* ... existing imports ... */

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}